<div class="row" style="height:825px;overflow-y: hidden" ng-class="{'fish-shelf': isSeafood, 'brick-shelf': !isSeafood}">
	<div class="col-xs-12" style="padding-top:20px">
		<a href="/" style="float:right;padding-top:10px">
			<button class="btn btn-redirect">
				<i class="fa fa-arrow-left" style="color:white"></i>&nbsp;&nbsp;Back to Store Map
			</button>
		</a>
	</div>
	<div class="col-xs-12" style="height:170px"></div>
	<div class="col-xs-12 " style="display:inline-flex;">
		<div style="width:150px"></div>
		<div ng-repeat="item in items" style="display:inline-flex;">
			<div class="hover" style="text-align:center;width:250px;height:225px" ng-click="openModal(item.link)">
				<img style="width:190px;padding-bottom:15px" src="{{item.source}}"/>
			</div>
			<div style="width:100px"></div>
		</div>
	</div>
</div>